/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2017, 4:46:30 PM
    Author     : qteves4192
*/
img {
    height: 75px;
    width: 75px;
}

.pull-right {
    text-align: right;
}

.center {
    text-align: center;
}
